<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link th:href="@{/detail.css}" rel="stylesheet">

</head>

<body>
    <span id="docId" th:text="${doctorant?.id}" style="display: none;"> </span>
    <div class="">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="portlet relative light profile-sidebar-portlet bordered">
                    <div class="retrun_butt">
                        <a th:href="@{/doctorants}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                            </svg>
                        </a>

                    </div>
                    <div class="profile-userpic">
                        <img th:src="${doctorant?.picture}" class="img-responsive" alt="">
                    </div>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name" th:text="${doctorant?.fname+' '+doctorant?.lname}"> Marcus
                            Doe </div>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                    fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg>Encadrant</h6> <span class="text-secondary"
                                th:text="${doctorant?.encadrant?.fname+' '+doctorant?.encadrant?.lname}">https://bootdey.com</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                    class="bi bi-file-earmark-code-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.646 7.646a.5.5 0 1 1 .708.708L5.707 10l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 10 8.646 8.354a.5.5 0 1 1 .708-.708z" />
                                </svg>
                                These
                            </h6> <span class="text-secondary"
                                th:text="${doctorant?.sujetThese?.title}">https://bootdey.com</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                    class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96c.026-.163.04-.33.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0" />
                                </svg>
                                N° Appogge
                            </h6> <span class="text-secondary" th:text="${doctorant.apogee}">https://bootdey.com</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                    class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96c.026-.163.04-.33.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0" />
                                </svg>
                                CIN
                            </h6>
                            <span class="text-secondary" th:text="${ doctorant.cin}">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                    class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671" />
                                    <path
                                        d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z" />
                                </svg>
                                Email
                            </h6> <span class="text-secondary" th:text="${ doctorant.email}">@bootdey</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="portlet light bordered">

                    <div class="portlet-body">
                        <div>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                        data-toggle="tab">Publications</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                        data-toggle="tab">L'état d'avancements</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                                        data-toggle="tab">Absence / Presence</a></li>
                                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab"
                                        data-toggle="tab">Settings</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <table style="margin-top: 1em;" class="table">
                                        <thead>
                                            <tr>

                                                <th scope="col">Titre</th>
                                                <th scope="col">Type</th>

                                                <th scope="col">Article</th>
                                                <th scope="col">Code source</th>
                                                <th scope="col">Certificat</th>
                                                <th scope="col">Voir Resume</th>
                                            </tr>
                                        </thead>
                                        <tbody style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);" id="tbody">



                                        </tbody>
                                        <script id="publication-template" type="text/template">
                                            {{#pubs}}
                                            <tr>
                                                <td>{{title}}</td>
                                                <td>{{publicationType}}</td>
                                                <td>
                                                    <span><i class="fa fa-file-pdf-o text-danger me-1"></i></span>
                                                    <a  href="/pdf/{{articlePDF}}" download="{{articlePDF}}">
                                                        {{articlePDF}}
                
                                                    </a>
                                                    
                                                </td>
                                                <td>
                                                    <span class="w-10">
                                                        <i class="fa fa-code me-1 text-primary"></i>
                                                    </span>
                                                    <a  href="/zip/{{codeSourceZIP}}" download="{{codeSourceZIP}}">
                                                        {{codeSourceZIP}}
                
                                                    </a>
                                                    
                                                </td>
                                                <td>
                                                    <span><i class="fa fa-file-pdf-o text-danger me-1"></i></span>
                                                    <a  href="/pdf/{{certificatePDF}}" download=" {{certificatePDF}}">
                                                         {{certificatePDF}}
                
                                                    </a>
                                                   
                                                </td>
                                                <td class="text-center">
                                                    <a href="#!" onclick="showResume('{{resume}}')" class="m-auto" style="text-decoration: none; color: inherit;" data-bs-toggle="modal"
                                                        data-bs-target="#resumeModal">
                                                        <i class="fa fa-eye me-1"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {{/pubs}}
                                        </script>
                                    </table>
                                </div>

                                <!-- 2nd Pan -->
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <div style="width: 60%;margin: auto;" class="">
                                        <canvas class="m-auto" id="barChart"></canvas>
                                    </div>
                                    <h4>Historique</h4>
                                    <div class="align-items-center " id="cardsContainer"
                                        style="padding: 0 10px 0 10px;">
                                        <script id="card-template" type="text/template">
                                                <div class="row">
                                                    <div class="col shadow-md" style=" 
                                                    background: #eeecfd;
                                                    padding: 9px 18px 0px 11px;
                                                    border-radius: 11px;
                                                    margin-top: 13px;
                                                    border: 1px solid #673AB7;
                                                    ">
                                                        <div class="overflow-hidden flex-nowrap">
                                                            <h5 class="mb-1" style="color: #1b004c;">
                                                                <a href="#!" class="text-reset">{{title}}</a>
                                                            </h5>
                                                            <span class="text-muted d-block mb-2 small">
                                                            {{date}}
                                                            </span>
                                                            <p style="text-align:justify" >{{desc}}</p>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </script>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <div class="row" style="justify-content: center;" id="mychartContainer">

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="settings">Settings</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="chart-template" type="text/template">
        <div class="col-md-4 text-center">
            <div class="chartContainer"><canvas id="myPieChart{{ date }}" style="width: 200px;" height="200px"></canvas>
                <h5 class="py-2" id="year{{ date }}">{{ date }}</h5>
            </div>
        </div>
    </script>
    <!-- Resume model -->
    <div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 58%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Resume de publication 1</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="resume">
                    zzzzzzzzzzzzzzzz
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Resume Modal -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.1/mustache.js"
        integrity="sha512-IDcWx4i9cyu+HgDbPzY7fKV9aOh0Skt1iFFTZype6N1c/Slqwum0UaGX/Ek2ZSS+RNoaGvtGsTPiSVNfMKaffg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <!-- Include Bootstrap JS (example, adjust as needed) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/detail.js}"></script>

</body>

</html>